.side-text {
    position: absolute;
    font-size: $side-text-fs;
    line-height: calc($side-text-lh / $side-text-fs);
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $side-text-color;

    transform: rotate(-90deg);
}

.description-projects {
    display: flex;

    &__container {
        padding-left: 14px;
        padding-right: 14px;
    }

    & .side-text {
        top: 291px;
        left: -50px;
    }

    &__title {
        margin-bottom: 63px;
    }
}

.description-projects__container {
    text-align: center;

    & .section-description {
        margin-bottom: 8px;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 151px;
    margin-bottom: 90px;
    padding-right: 89px;
    padding-left: 89px;

    & .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc((100% - 2*151px - 2*89px) / 3);
        max-width: 240px;

        color: #ffffff;
        border: 30px solid rgba(0, 0, 0, 0.05);
        border-radius: 50%;
    }

    &__text {
        font-size: $project-text-fs;
        line-height: calc($project-text-lh / $project-text-fs);
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.project-vase {
    background-color: #E4B366;
}

.project-mug {
    background-color: #F05B10;
}

.project-plate {
    background-color: #A21010;
}

.achievements {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 142px;
    text-align: left;

    &__item {
        flex-basis: calc((100% - 142px) / 2);
    }
    &__title {
        margin-bottom: 26px;
        
        font-weight: 700;
        font-size: $achievements-title-fs;
        line-height: calc($achievements-title-lh / $achievements-title-fs);
    }

    &__text {
        font-family: $secondary-ff;
        font-size: $primary-text-fs;
        line-height: calc($primary-text-lh / $primary-text-fs);

        color: $secondary-text-color;
    }
}