.footer {
  padding-top: 114px;
  background-color: rgba(219, 219, 219, 0.1);
  max-width: 1440px;
  
  &__text {
    margin-top: 30px;
    margin-bottom: 70px;

    font-family: $secondary-ff;
    font-size: $primary-text-fs;
    line-height: calc($primary-text-lh / $primary-text-fs);

    color: $secondary-text-color;
  }
}
.footer__content {
  padding-bottom: 83px;
  text-align: center;
  border-bottom: 1px solid #ebebeb;
}
.contacts {
  display: flex;
  gap: 46px;

  & .img {
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex-basis: calc((100% - 2 * 46px) / 3);
  }

  &__text {
    $fs: 13px;
    $lh: 23px;
    margin-bottom: 20px;

    font-size: $fs;
    line-height: calc($lh / $fs);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__link {
    font-family: $secondary-ff;
    font-size: $primary-text-fs;
    line-height: calc($primary-text-lh / $primary-text-fs);

    color: $secondary-text-color;
  }
}
.copyright {
  display: flex;
  justify-content: center;
  
  padding: 30px 10px;

  &__item {
    margin: 0 2px;
    
    font-family: $secondary-ff;
    font-size: $nav-link-fs;
    line-height: $nav-link-lh;
    color: $secondary-text-color;
  }
  &__author {
    font-family: $secondary-ff;
    font-size: $nav-link-fs;
    line-height: $nav-link-lh;
    color: $primary-text-color;

    & span {
      margin: 0 5px;
      color: $secondary-text-color;
    }
  }
}
