.header {
    margin-left: auto;
    margin-right: auto;
}
.header__content {
    display: flex;
    align-items: center;
}
.header__logo {
    padding-top: 25px;
    padding-bottom: 25px;

    color: $primary-text-color;
}
.nav {
    margin-left: auto;

    &__list {
        display: flex;
        gap: 40px;
    }

    &__item:last-child {
        margin-right: 19px;
    }
    &__link {
        padding-top: 35px;
        padding-bottom: 35px;

        font-size: $nav-link-fs;
        line-height: calc($nav-link-lh / $nav-link-fs);
        letter-spacing: 2px;

        color: $secondary-text-color;

        transition: $time-duration $timing-function;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}
.button-cart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;

    font-family: $secondary-ff;
    font-size: $button-cart-fs;
    line-height: calc($button-cart-lh / $button-cart-fs);

    color: $primary-text-color;
    
    transition: $time-duration $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &__icon {
        margin-right: 6px;
    }

    &::before {
        content: "";
        display: block;
        width: 1px;
        height: 38px;
        margin-right: 17px;

        background-color: #ebebeb;
    }
}