.product-collections {
  display: flex;
  align-items: center;

  & .side-text {
    left: -50px;
  }
}
.collections-container {
  text-align: center;

  &__title {
    margin-top: 17px;
    margin-bottom: 63px;
  }
}
.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  margin-bottom: 61px;

  & .item {
    flex-basis: calc((100% - 2 * 20px) / 3);
  }
}
.product-link {
  display: block;
  box-shadow: none;
  transition: box-shadow $time-duration $timing-function;

  &:hover,
  &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  &__description {
    padding: 15px 0;

    text-align: left;

    border-bottom: 1px solid $side-text-color;
  }

  &__text {
    font-family: $secondary-ff;
    font-size: $hero-title-fs;
    line-height: calc($hero-title-lh / $hero-title-fs);

    color: $secondary-text-color;
  }

  &__price {
    font-size: $primary-text-fs;
    line-height: calc($primary-text-lh / $primary-text-fs);

    color: #000000;
  }
}
