// Переменные font-family
$primary-ff: Poppins;
$secondary-ff: Libre Franklin;
$subscribe-form-ff: Lato;
$ampersand-ff: Playfair Display;
$logo-ff: Pacifico;

// Переменные font-size
$ampersand-fs :68px;
$logo-fs: 33px;

// Переменные line-height
$ampersand-lh: 68px;
$logo-lh: 40px;

// Переменные основных цветов
$primary-text-color: #000000;
$secondary-text-color: #6C6C6C;
$side-text-color: #DBDBDB;
$button-ampersand-color: #AC1313;
$section-description-text-color: #D77474;
$subscribe-form-text-color: #A1A1A1;