// Переменные font-family
$primary-ff: Poppins;
$secondary-ff: Libre Franklin;
$subscribe-form-ff: Lato;
$ampersand-ff: Playfair Display;
$logo-ff: Pacifico;

// Переменные font-size
$ampersand-fs :68px;
$logo-fs: 33px;
$nav-link-fs: 12px;
$button-cart-fs: 14px;
$section-description-fs: 14px;
$hero-title-fs: 16px;
$button-fs: 12px;
$title-fs: 40px;
$side-text-fs: 18px;
$project-text-fs: 14px;
$achievements-title-fs: 29px;
$primary-text-fs: 14px;
$examples-description-title-fs: 24px;

// Переменные line-height
$ampersand-lh: 68px;
$logo-lh: 40px;
$nav-link-lh: 22px;
$button-cart-lh: 20px;
$section-description-lh: 24px;
$hero-title-lh: 26px;
$button-lh: 22px;
$title-lh: 50px;
$side-text-lh: 34px;
$project-text-lh: 38px;
$achievements-title-lh: 36px;
$primary-text-lh: 24px;
$examples-description-title-lh: 34px;

// Переменные основных цветов
$primary-text-color: #000000;
$secondary-text-color: #6C6C6C;
$side-text-color: #DBDBDB;
$button-ampersand-color: #AC1313;
$section-description-text-color: #D77474;
$subscribe-form-text-color: #A1A1A1;
// ------
$accent-color: #AC1313;

$time-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);